body{
  background: url(../img/background.jpg) repeat-x #0c73a0;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.container{
  width: 1000px;
  height: 990px;
  margin: 0 auto;
  color: #424c43;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5), 0px -8px 15px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5), 0px -8px 15px 10px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5), 0px -8px 15px 10px rgba(0,0,0,0.25);
}
.header{
  padding: 0;
  overflow: hidden;
}
.logo {
  margin: 10px 0 0 30px;
  height: 165px;
  width: 283px;
  float: left;
}
.contacts {
  margin: 5px 15px;
  width: 170px;
  color: #5fa5bb;
  float: right;
}
.contacts h4,
.contacts p{
  margin: 5px 0;
}
.countries {
  float: right;
  clear:right;
  margin: 10px 25px 5px;
}
a.country {
  margin: 0 1px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 42px 0 0 0;
  color: #5fa5bb;
  box-sizing: border-box;
  background-size: 42px 42px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
  font-size: 11px;
  float: left;
}
a.india {
  background-image: url(../img/india.png);
}
a.maldives {
  background-image: url(../img/maldives.png);
}
a.bhutan {
  background-image: url(../img/bhutan.png);
}
a.nepal {
  background-image: url(../img/nepal.png);
}
a.tibet {
  background-image: url(../img/tibet.png);
}
a.sri-lanka {
  background-image: url(../img/sri-lanka.png);
}
.cover {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
  padding: 0;
  height: 237px;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.menu {
  position: relative;
  background-color: #353535;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 5px 9px -2px rgba(85,85,85,1);
  -moz-box-shadow: 0px 5px 9px -2px rgba(85,85,85,1);
  box-shadow: 0px 5px 9px -2px rgba(85,85,85,1);
  z-index: 2;
}
.menu > ul{
  padding: 0 60px;
}
.menu > ul > li{
  float: left;
  position: relative;
}
ul > li > a {
    display: block;
    padding: 6px 28px 6px 10px;
    text-decoration: none;
    min-width: 70px;
    color: #fff;
}
.menu ul > li >ul.submenu{
  border-top: 1px solid black;
  position: absolute;
  background-color: #353535;
  -webkit-box-shadow: 0px 5px 9px rgba(85,85,85,1);
  -moz-box-shadow: 0px 5px 9px rgba(85,85,85,1);
  box-shadow: 0px 5px 9px rgba(85,85,85,1);
}
.submenu > li > a {
    padding-right: 13px;
}
ul > li:hover > a {
    color: #128aa7;
}
ul.submenu {
  display: none;
}
.menu ul > li:hover > ul.submenu {
    display: block;
}

.column {
  position: relative;
  background-color: #edeef0;
  width: 210px;
  padding: 10px;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  height: 544px;
  z-index: 1;
  box-sizing: border-box;
}
.information {
  float: left;

}
.news {
  float: right;
}
.column h3 {
  margin: 5px;
  font-size: 18px;
  text-align: center;
}
.copyright {
  text-align: center;
}
